body {
  margin: 0;
}

#root {
  width: 100%;
  height: 100vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  background: linear-gradient(to top left, powderblue, pink);
}

.app {
  display: flex;
  align-items: center;
  height: 100%;
  width: 400px;
  margin: 0 auto;
}

@media only screen and (max-width: 408px) {
  .app {
    width: 100%;
  }
}
